<div class="content-wrapper px-2 sm:px-4">
  <p class="text-lg font-medium pb-2 text-color-normal">Stuff I've written</p>
  <div class="content">
    <ul class="articles">
      <% @articles.each do |article| %>
        <li class="p-2">
          <a href="<%=article.link_to %>" class="text-color-primary hover:text-color-normal font-medium" target="_blank"> </a>
          <span class="bg-colorPrimaryLight text-color-twilight px-2"><%= article.published_at.strftime("%D") %></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>