<div class="content-wrapper px-2 sm:px-4">
  <p class="text-lg font-medium pb-2 text-color-normal">About Me</p>
  <div class="content">
    <p>Hi, I’m Tun! I build <a href="https://github.com/tunkhine126" target="_blank" class='font-medium text-color-primary hover:underline hover:text-color-normal'>software</a>, legos with my kiddos, and also ride bikes - and have a ton of fun doing all of the above.</p>
    <p class='py-2'>I’ve been a lifelong tinkerer, and after a first career at the United Nations where I learned the importance of <a href="https://ebolaresponse.un.org/un-mission-ebola-emergency-response-unmeer" class='font-medium text-color-primary hover:underline hover:text-color-normal'>impact</a> related work, I’ve been coding professionally for 4 years and continue to learn from the best.</p>
    <p class='py-2'>It’s my personal mission to build software that allows others to build upon their dreams. That has my name all over it.
    </p>
    <p class='py-2'>
      If you are interested in working together, shoot me a message <a href="mailto:tunkhine126@gmail.com" class='font-medium text-color-primary hover:underline hover:text-color-normal'>here</a>!
    </p>
  </div>
</div>