<div class="content-wrapper px-2 sm:px-4">
  <p class="text-lg font-medium pb-2 text-color-normal">History</p>
  <iframe class="pdfjs-viewer" width="600px" height="600px" src="https://tunkhine126.files.wordpress.com/2022/11/tun_khine_resume-.pdf">
  </iframe>
</div>