<div class="content-wrapper">
  <div class="content">
    <%= image_tag("http-status-codes-dogs-404.jpg", alt: '500 doggo', class: '') %>
    <h1>500: SERVER ERROR!</h1>
    <p>Oops! Something is broken... <a href="/">Click here</a> to start over!</p>
  </div>
</div>