<footer class="absolute bottom-0 mx-auto place-content-center justify-center p-4 bg-nav w-full bg-gray-800">
  <div class="justify-center text-center text-white">
    Created by Tun Khine. Site last updated on <b><%= last_updated.to_datetime.in_time_zone('Eastern Time (US & Canada)').strftime('%B %e, %Y at %l:%M%P %Z') %></b>. <a href="https://github.com/tunkhine126/portfolio-ruby-cms/commits/master" target="_blank" class="text-color-primary font-medium">Changelog</a>.
  </div>
</footer>